@font-face {
  font-family: "oswald";
  src: url(../font/Oswald-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "oswald";
}
img,
input {
  width: 100%;
  vertical-align: bottom;
}
a,
li {
  list-style: none;
  text-decoration: none;
}
/* Header */
/* navbar */
#navbar {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #000;
  #navlogo {
    width: 10rem;
    padding: 0.5rem;
    img {
      width: 100%;
    }
  }
  #navicon {
    i {
      font-size: 20px;
      margin: 0.3rem;
    }
  }
}
#cartCount{
  position: absolute;
  text-align: center;
  width: 1rem;
  top: 0.3rem;
  right: 0.5rem;
  background-color: #ff6a00;
  border-radius: 20px;
}
/* navmenu */
#navmenu {
  position: relative;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fab802;
  #navfilter {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #fff;
    padding: 0 0.5rem;
    margin-right: 1rem;
    i {
      margin: 0.3rem;
      margin-right: 1.5rem;
    }
    p {
      margin: 0.3rem;
    }
  }
  /* menu */
  .open {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 11rem;
    padding: 1rem;
    top: 100%;
    left: 10%;
    color: #000;
    background-color: #fff;
    li {
      display: flex;
      align-items: center;
      margin: 0.3rem 0;
      position: relative;
      p {
        margin: 0.3rem;
      }
    }
    p:hover {
      color: #fab802;
      cursor: pointer;
    }
  }
  .close {
    display: none;
  }
  .submenu {
    position: absolute;
    width: 13rem;
    background-color: #fff;
    left: 10.5rem;
    top: 0;
    li {
      margin: 0.3rem;
    }
    li:hover {
      color: #fab802;
      cursor: pointer;
    }
  }
  #burger {
    cursor: pointer;
  }
  /* nav jaune */
  #yellownav {
    display: flex;
  }
  #navpage {
    display: none;
  }
  #navcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    i {
      margin: 0.3rem;
    }
    p {
      color: #000;
      margin: 0.3rem;
    }
  }
}
/* hero */
#hero {
  /* background-image: url(../img/slider-1-1.webp); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: white;
  text-align: left;
  h1 {
    font-size: 18px;
    color: #fab802;
    margin-left: 2rem;
  }
  h2 {
    color: #000;
    font-weight: bold;
    font-size: 30px;
    margin-left: 2rem;
    word-spacing: 0.1rem;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
      2px 2px 0 white;
  }
  p {
    margin-left: 2rem;
  }
  button {
    background-color: #fab802;
    border: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
  }
}
/* main */

/* shopnav */
#container {
  width: 95%;
  margin: 0 auto;
}
#exclusive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
  h2 {
    font-size: 25px;
    color: #000;
  }
  #shopfilter {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      cursor: pointer;
      margin-left: 0.5rem;
    }
    p:hover {
      color: #fab802;
    }
  }
}
/* shop */
#exclusive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
  h2 {
    width: 60%;
    font-size: 25px;
    color: #000;
  }
  #shopfilter {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      cursor: pointer;
      margin-left: 0.5rem;
    }
    p:hover {
      color: #fab802;
    }
  }
}
#deal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
  h2 {
    width: 80%;
    font-size: 25px;
    color: #000;
  }
  #timer {
    width: 20%;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    i {
      margin-right: 0.5rem;
      color: #fab802;
    }
  }
}
.card {
  position: relative;
  overflow: hidden;
  h2 {
    font-size: 18px;
  }
  div {
    display: flex;
    align-items: center;
    p:nth-child(1) {
      color: #fab802;
    }
    p:nth-child(2) {
      text-decoration: line-through;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      font-size: 13px;
    }
    p:nth-child(3) {
      color: #6aa76e;
    }
  }
  .stars {
    i {
      color: #fab802;
    }
  }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* couleur overlay */
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}
.overlay.active {
    opacity: 1;
    pointer-events: auto;
}
.add-cart-btn {
    padding: 10px 20px;
    margin: 0 auto;
    background: #ff6a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

.add-cart-btn:hover {
    background: #e05b00;
}
/* brands */
#brands {
  h2 {
    font-size: 25px;
    color: #000;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
  }
  #brandslogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
      margin: 0.5rem;
      width: 30%;
    }
  }
}
/* newsletter */
#newsletter {
  background-color: #fab802;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  i {
    font-size: 50px;
  }
  h2 {
    font-size: 25px;
    margin-left: 1rem;
    font-weight: 300;
    width: 30%;
  }
  #subscribenews {
    display: flex;
    background-color: #fff;
    padding: 0.2rem;
    input {
      border: none;
      padding: 0.5rem;
    }
    button {
      border: none;
      padding: 0.5rem 1rem;
      background-color: #000;
      color: #fff;
    }
  }
}
/* footer */
footer {
  background-color: #2a2c2e;
  #footerinfo {
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    #footerlogo {
      width: 10rem;
    }
    p {
      font-size: 15px;
    }
    .address {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
  #instalogo {
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1rem;
    i {
      margin-right: 0.5rem;
      color: #fab802;
      font-size: 20px;
      align-self: center;
    }
    p {
      color: #fff;
      font-size: 20px;
    }
  }
  #instaimg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
      margin: 0.2rem 0.5rem;
      width: 45%;
    }
  }
  #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    font-size: 10px;
    i {
      margin-right: 0.2rem;
    }
  }
}
/* Media query min-width 576px : passage au desktop */
@media screen and (min-width: 576px) {
  /* navpage */
  #navmenu {
    justify-content: space-between;
  }
  #navmenu #navpage {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 15px;
      margin-right: 1rem;
    }
  }
  #navcategories {
    display: flex;
  }
  #yellownav {
    justify-content: space-between;
    margin: 0 auto;
  }
  #hero {
    height: 60vh;
    justify-content: flex-start;
    h1 {
      padding-top: 2rem;
      font-size: 15px;
      width: 1200px;
      margin: 0 auto;
    }
    h2 {
      font-size: 20px;
      width: 1200px;
      margin: 0 auto;
    }
    button {
      margin-left: 11rem;
      margin-bottom: 2rem;
    }
  }
  /* main */
  #container {
    width: 1200px;
    margin: 0 auto;
  }
  #excluItem {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
  }
  #deal {
    padding-top: 2rem;
  }
  #dealItem {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
  }
  /* brands */
  #brands {
    h2 {
      padding-top: 2rem;
    }
    #brandslogo {
      display: flex;
      flex-wrap: unset;
      justify-content: center;
      div {
        margin: 0.5rem;
      }
    }
  }
  /* newsletter */
  #newsletter {
    h2 {
      width: 20%;
    }
  }
  /* footer */
  #footerdesc {
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  footer {
    #instalogo{
      width: 80%;
      margin: 1rem 2rem;
    }
    #instaimg {
      div {
        width: 20%;
        margin: 0.2rem;
      }
    }
    #footerinfo {
      color: #fff;
      padding: 1rem;
      margin-bottom: 2rem;
      #footerlogo {
        width: 10rem;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
